<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<div class="footer">Service brought to you by Hup Soon Cheong Services Pte Ltd</div>
		<br/>
		<div class="footer">Feel Free to email us at <a href="mailto:appsupport@hsc.sg">appsupport@hsc.sg</a> if you have any enquiries or encounter any issues.</div>
		<br/>
		<div class="footer">
			Visit our 
			<%=link_to "Terms and Privacy", privacy_url%>
			for more information.
		</div>		
	</div>
</div>